<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="{{ _charset }}">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title '' %}</title>

    {% block css %}
        <link rel="stylesheet" href="{{ asset('css/app.min.css') }}">
    {% endblock %}
</head>

<body>
{% block body '' %}

{% block js %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>
</html>
