{% extends 'base.html.twig' %}

{% import 'macros/elements.html.twig' as elements %}

{% block body %}
    <h1>{{ 'title.ruwork'|trans|upper }}</h1>
    <p>{{ elements.locales() }}</p>
{% endblock %}
