{% macro locales() -%}
    {%- set route = app.request.attributes.get('_route') %}
    {%- if route is not null %}
        {%- for locale in locales if locale is not same as(app.request.locale) %}
            {%- set params = app.request.attributes.get('_route_params', [])|merge(app.request.query.all)|merge({_locale: locale}) %}
            <a href="{{ path(route, params) }}">{{ locale }}</a>
        {%- endfor %}
    {%- endif %}
{%- endmacro %}
